.notfound-container {
    height: 92vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0d0d0d;
    color: white;
    text-align: center;
    padding: 20px;
  }
  

  
  .notfound-container p {
    font-size: 1.5rem;
    margin: 6px 0;
  }
  
  .back-home {
    margin-top: 20px;
    text-decoration: none;
    color: #FBC02D;
    border: 1px solid #FBC02D;
    padding: 10px 20px;
    border-radius: 6px;
    transition: 0.3s ease;
  }
  
  .back-home:hover {
    background-color: #dea104;
    color: #0d0d0d;
  }
  